{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}
  <h1>Movies</h1>

  <div id="movieList">
    {% for movie in movies %}
    <div class="movie">
      <h2>{{ movie.title }}</h2>
      <p>{{ movie.overview }}</p>
      <a href="{% url 'movies:detail' movie.pk %}">[DETAIL]</a>
      <hr>
    </div>
    {% endfor %}

    <!-- 여기에 JSON 내용을 담은 Element append -->
  </div>

{% comment %} 
  <div class="d-flex justify-content-center">
    {% bootstrap_pagination movies %}
  </div> {% endcomment %}
{% endblock %}

{% block script %}
<script>
  let page = 2
  const movieList = document.querySelector('#movieList')

  document.addEventListener('scroll', function (event) {
    const { scrollTop, clientHeight, scrollHeight } = document.documentElement
    // 완전 바닥에 도달
    // if (scrollHeight - scrollTop === clientHeight) {

    // 1. 스크롤이 바닥(언저리)에 도달 했을때, => document / event 
    if (scrollTop + clientHeight >= scrollHeight - 5) {
      // 2. 추가 데이터 10개를 불러옴(AJAX) => axios / DRF
      axios({
        method: 'get',
        url: `/movies/ajax/?page=${page}`
      })
        .then(res => {
            const movies = res.data
            // 3. 응답 JSON 데이터 10개를 화면에 붙임
            movies.forEach(movie => {
              const movieDiv = document.createElement('div')

              const h2 = document.createElement('h2')
              h2.innerText = movie.title

              const p = document.createElement('p')
              p.innerText = movie.overview

              const a = document.createElement('a')
              a.innerText = '[DETAIL]'
              a.href = `/movies/${movie.id}/`

              const hr = document.createElement('hr')

              movieDiv.append(h2, p, a, hr)
              movieList.appendChild(movieDiv)
            })
            page++
          })
          .catch(err => console.error(err))
    }
  })
</script>
{% endblock script %}
